@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Overzicht</h1>

<p>Hier kan je alle gegevens zien</p>

<table>
    <tr>
        <th>Reserveer Id</th>
        <th>Naam</th>
        <th>Datum</th>
        <th>Adres 1</th>
        <th>Adres 2</th>
        <th>Kilometerstand begin</th>
        <th>Kilometerstand na rit</th>
        <th>Verzoek accepteren</th>
        <th>Verzoek weigeren</th>
        <th>Download excel bestand</th>
    </tr>
</table>