@page "/registreer"
@inject HttpClient Http
<h1>Registreren</h1>

<p>Registreer hier uw medewerkers</p>

<form>
    <label>Username*</label>
    <input type="text" name="username" class="username" id="username" placeholder="Username..." required />
    <br />
    <label>Password*</label>
    <input type="password" name="password" class="password" id="password" placeholder="Password..." required />
    <br />
    <label>Herhaal password*</label>
    <input type="password" name="password2" class="password2" id="password2" placeholder="Password..." required />
    <br />
    <label>Toegang tot rechten</label>
    <input type="checkbox" id="rechten" name="rechten" value="1" />
    <br />
    <input type="submit" name="login" value="Reserveer" />
</form>