@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Reserveren</h1>

<p>Hier kunt u de auto reserveren.</p>

<form>
    <label>Username: *</label>
    <input type="text" name="username" class="username" id="username" placeholder="Username..." required />
    <br />
    <label>Datum wanneer: *</label>
    <input type="date" name="date" class="date" id="date" placeholder="dd/mm/yy" required />
    <br />
    <label>Adres van klant: *</label>
    <input type="text" name="adress" class="adress" id="adress" placeholder="Adres van klant..." required />
    <br />
    <label>Adres klant 2:</label>
    <input type="text" name="adress2" class="adress2" id="adress2" placeholder="Adres van klant 2..." />
    <br />
    <label>Kilometerstand: *</label>
    <input type="text" name="kilometerBegin" class="kilometerBegin" id="kilometerBegin" placeholder="Kilometerstand Begin..." required />
    <input type="text" name="kilometerEind" class="kilometerEind" id="kilometerEind" placeholder="Kilometerstand eind..." required />
    <br />
    <input type="submit" name="login" value="Reserveer" />
</form>

