﻿<div class="d-flex align-items-center login-alignment">
    <div class="form-login w-100 h-100">
        <EditForm Model="Request" OnSubmit="LoginAsync">
            <PageHeader Size="PageHeader.Sizes.H2">Please Login!</PageHeader>

            <div class="form-floating">
                <InputText id="email" class="form-control" @bind-Value="Request.Email" placeholder="Email" />
                <label for="email">Email address</label>
            </div>

            <div class="form-floating">
                <InputText id="password" class="form-control" @bind-Value="Request.Password" placeholder="Password" type="password" />
                <label for="password">Password</label>
            </div>

            <br />

            <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
        </EditForm>
    </div>
</div>